NODE_ENV=development
DATABASE=mongodb://localhost:27017/databaseNameHere
MAIL_USER=1234
MAIL_PASS=1234
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
PORT=3000
SECRET=mysecret
KEY=mykey
BNET_SECRET=mysecret
BNET_ID=myid
AWS_ACCESS_KEY=key
AWS_SECRET_KEY=secret
AWS_BUCKET_NAME=bucketname